.NavBar a, .NavBar button {
	margin: 0 5px;
	cursor: pointer;
}

.NavBar {
	margin-bottom: 20px
}

img {
	max-width: 400px;
}

.homeh1{
	text-align: center;
}

.homeh2 {
	text-align: center;
}

.image-circle {
	border-radius: 50px;
}
